input[type="button"] {
    padding: 10px;
    border: solid;
    border-radius: 8px;
}
input[type="text"] {
    border-color: black;
    border: solid;
}
input[value="Add"] {
    background-color:red;
}
input[value="Sub"] {
    background-color: gold;
}
input[value="Mul"] {
    background-color: dodgerblue;
}
input[value="Div"] {
    background-color: lawngreen;
}
div[class="column"]{
    padding: 10px;
}
div[id="firN"] {
    padding-left: 30px;
}
div[id="secN"] {
    padding-left: 7px;
}
div[id="reN"] {
    padding-left: 78px;
}
div[id="butcols"] {
    padding-left: 50px;
}
div[id="calcol"] {
    padding-left: 10px;
}
.wrapper {
    background-color: gray;
    border: solid;
    max-width: 350px;
}
div[class="spacing"]{
    padding-bottom: 1px;
}
div[class="wrapper"]{
    padding-left: 10px;
}